.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  padding: 20px;
  gap: 40px;
}

.filter-title {
  border: 1px solid transparent;
  border-color: black;
  /* padding: .6em 1.2em; */
  font-size: 1em;
  font-weight: 550;
  font-family: inherit;
  transition: border-color 0.25s;
}

.filter-button {
  border: 1px solid transparent;
  border-color: black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.filter-button:hover {
  background-color: #646cff;
}
.filter-button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.active {
  background-color: #007bff !important; /* 강조할 색상 */
  color: white !important;
  border-color: #0056b3 !important;
}

.sort-group {
  margin: 20px 0;
}