.navbar {
    background-color: black; /* 어두운 배경 */
    color: #fff; /* 글자색 흰색 */
    display: flex; /* Flexbox를 사용하여 요소 정렬 */
    font-size: 2rem;
    padding: 15px; 
}

#logout-btn, #login-btn {
    margin-left: auto;
}