.navbar {
    background-color: black; 
    color: white;
    display: flex; /* Flexbox를 사용하여 요소 정렬 */
    font-size: 2rem;
    padding: 15px; 
}

#logout-btn, #login-btn {
    background-color: white;
    margin-left: auto;
}